tr.noBorder td {
  border: 0;
  border-style: hidden;
}


tr:hover {
  background-color: #ffff99;
}

.pre-wrap-panel {
    white-space:pre-wrap;
}

.sourcecode {
    font-family: monospace;
    border: 0;
    background-color: transparent;
}

#sidebar-wrapper p {
    color: white;
}

#sidebar-wrapper .alert {
    line-height: 100%;
}

.customcode {
    color: black;
    background-color: white;
    white-space: pre;
}

.img-size-regular {
    width: 10%;
}

.page-header {
    float: left;
    margin-top: 0;
}

.logo {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.clearfix {
    clear:both
}
