<html>

  <head>

    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Bootstrap-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>

    <!--Custom CSS-->
    <!--Template-->
    <link rel="stylesheet" type="text/css" href="css/simple-sidebar.css">
    <!--Ours-->
    <link rel="stylesheet" type="text/css" href="css/custom.css">

  </head>

  <body>
    <div ng-app="myapp" ng-controller="mycontroller" ng-init="init()" id="wrapper">
      <!--Sidebar-->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand" class="col-xs-offset-1 col-xs-10">
            <a href="/">ALABNO</a>
          </li>
          <br>

          <li class="col-xs-offset-1 col-xs-10">
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
              <strong>Warning:</strong> Login not implemented yet; do not enter a sensitive password!
            </div>
          </li>
          <li class="col-xs-10">
            <p>Login below:</p>
          </li>
          <!--Login section-->
          <form class="col-xs-offset-1 col-xs-10" ng-hide="logged_in_flag">
            <li>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Username" ng-model="username">
              </div>
            </li>
            <li>
              <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" ng-model="password" >
              </div>
            </li>
            <li>
              <button class="btn btn-success btn-block" ng-click="login_clicked()">Login</button>
            </li>
          </form><!-- /login -->
          <!--Logout button-->
          <div class="row" ng-show="logged_in_flag">
            <div class="col-xs-offset-1 col-xs-6">
              <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
            </div>
          </div> <!--/Logout button-->
        </ul>
      </div><!-- /#sidebar-wrapper -->

      <div id="page-content-wrapper">

        <div class="page-header">
          <h1>Welcome to ALABNO - Your trusty Auto-Marker</h1>
        </div>

        <!-- BUTTON TO TOGGLE SIDEBAR APPEARING -->
        <!-- <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle menu</a> -->

        <div ng-view></div>

      </div><!-- /#page-content-wrapper -->

    </div><!-- /#wrapper -->

  </body>

  <script src="script/menutoggle.js"></script>
  <script src="script/endpoint.js"></script>
  <script src="script/localstorage.js"></script>
  <script src="script/socket.js"></script>
  <script src="script/app.js"></script>
  <script src="script/topcontroller.js"></script>
  <script src="script/studentcontroller.js"></script>
  <script src="script/professorcontroller.js"></script>
  <script src="script/handlers.js"></script>

</html>
