<div class="row">
  <div class="col-xs-12">
    <h2>Welcome Professor {{name}}</h2>
  </div>
</div>

<!--PROFESSOR VISIBLE EXERCISES LIST SECTION-->
<div ng-show="show_professor_exercises">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="new_exercise_clicked()"><h5>Create new exercise</h5></button>
      </div>
      <h3>Exercises: {{all_jobs.length}}</h3>
    </div>

    <div class="panel-body">
      <!--Here goes the list of processed exercises-->
      <ul class="list-group" ng-repeat="job in all_jobs">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-2">
              <h4>Exercise name: <strong>{{job.title}}</strong></h4>
            </div>
            <div class="col-xs-2">
              <button ng-click="job.display(job.title)" class="btn btn-info">Show students taking exercise <span class="caret"></span></button>
            </div>
          </div>
          <table class="table" ng-show="job.students.length != 0">
            <thead>
              <tr>
                <th>Student</th>
                <th>Results</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="student in job.students">
                <td>
                  <p>Student <strong>{{student.id}}</strong>
                </td>
                <td>
                  <button class="btn btn-success" ng-click="get_data(job.title, student.id, 'annotated')">Annotated</button>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>

    </div>

  </div>
</div>

<!--NEW EXERCISE SECTION-->
<div ng-show="show_professor_new_exercise">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Create a new exercise</h3>
    </div>

    <div class="panel-body">
      <form class="col-xs-4">
        <div class="form-group">
          <label>Exercise Title</label>
          <input class="form-control" type="text" ng-model="exercise_title">
        </div>

        <div class="form-group">
          <label>Exercise Type</label>
          <input class="form-control" type="text" placeholder="haskell / java" ng-model="exercise_type">
        </div>

        <div class="form-group">
          <label>Model solution git repository</label>
          <!-- <div class="input-group"> -->
            <input class="form-control" type="text" ng-model="exercise_model">
            <!-- <span class="input-group-addon">.git</span> -->
          <!-- </div> -->
        </div>

        <label>Student git repository</label>
        <div class="form-group" data-ng-repeat="entry in entries">
          <input class="form-control" type="text" ng-model="entry.git">
        </div>

        <div class="form-group">
          <button class="btn btn-info" ng-click="add_new_student_field()">Add more students</button>
        </div>

        <br>
        <br>

        <div class="form-group col-xs-6">
          <button class="btn btn-danger btn-block" ng-click="cancel_new_exercise()">Cancel Submission</button>
        </div>

        <div class="form-group col-xs-6">
          <button class="btn btn-primary btn-block" ng-click="submit_new_exercise()">Submit Exercise</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!--   <div class="page-header"> -->
<!--     <h1>{{student_result.title}} <small>{{student_result.student}}</small></h1> -->
<!--   </div> -->
<!-- DISPLAY ANNOTATED FILE SECTION (NEW)-->

<div ng-show="show_annotated_file">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Annotated Results - STUDENT ID HERE - STUDENT RESULT HERE</h3>
      <button class="btn btn-default" ng-click="show_section('show_professor_exercises')">Back</button>
    </div><!-- /panel-heading -->

    <div class="panel-body">

      <div class="row">
        <div class="col-xs-12">
          <div class="list-group">
            <div class="list-group-item">

              <!--Table of annotations-->
              <div ng-repeat="file in annotated_files">

                <br>
                <h3>{{file.filename}}</h3>
                <br>

                <table class="table table-sm borderless">
                  <thead>
                    <tr>
                      <th>Line Number</th>
                      <th>Line Content</th>
                      <th>Annotation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="noBorder" ng-class="(data_entry.annotation === '') ? '' : 'danger'" ng-repeat="data_entry in file.data" ng-mouseenter="data_entry.show_icons=true" ng-mouseleave="data_entry.show_icons=false">
                      <td>{{data_entry.no}}</td>
                      <td><pre class="sourcecode">{{data_entry.content}}</pre></td>
                        <td>
                          <div class="row">
                            {{data_entry.annotation}}
                          </div>

                          <!--EDITOR-->
                          <div class="row" ng-show="data_entry.show_editor">
                            <p>Editor</p>
                            <!--Source code -->
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="panel panel-default pre-wrap-panel">
                                  <p>{{editing_source_cache}}</p>
                                </div>
                              </div>
                            </div>
                            <!--Annotation -->
                            <div class="row">
                              <div class="col-xs-12">
                                <textarea class="form-control" ng-model="data_entry.editing_annotation"></textarea>
                              </div>
                            </div>
                            <!--Annotation type-->
                            <div class="row">
                              <div class="col-xs-12">
                                <textarea class="form-control" ng-model="data_entry.editing_ann_type"></textarea>
                              </div>
                            </div>
                            <!--Buttons-->
                            <div class="row">
                              <div class="col-xs-4">
                                <button class="btn btn-default" ng-click="submit_feedback_annotation()">Submit</button>
                              </div>
                              <div class="col-xs-4">
                                <p><font color="green">{{feedback_sent}}</font></p>
                              </div>
                              <div class="col-xs-4">
                                <button class="btn btn-default" ng-click="feedback_clear()">Close</button>
                              </div>
                            </div>
                          </div>
                          <!--END EDITOR-->

                        </td>
                        <td>
                          <div class="row">
                            <button ng-show="data_entry.show_icons" class="btn btn-default" ng-click="add_feedback_annotation(file.filename,data_entry.no,data_entry.content,data_entry.annotation,data_entry)">
                              <img src="icon/edit.png">
                            </button>
                          </div>
                        </td>
                        <td>
                          <div class="row">
                            <button ng-show="data_entry.show_icons" class="btn btn-default" ng-click="delete_feedback_annotation(file.filename, data_entry.no, data_entry.content, data_entry.annotation, data_entry)">
                              <img src="icon/delete.png">
                            </button>
                          </div>
                        </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /panel-body -->

  </div><!-- /panel -->


</div>
