<div class="row">
  <div class="col-xs-12">
    <h2>Welcome Professor {{name}}</h2>
  </div>
</div>

<!--PROFESSOR VISIBLE EXERCISES LIST SECTION-->
<div ng-show="show_professor_exercises">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="btn-group pull-right">
        <button class="btn btn-primary" ng-click="new_exercise_clicked()"><h5>Create new exercise</h5></button>
      </div>
      <h3>Exercises: {{all_jobs.length}}</h3>
    </div>

    <div class="panel-body">
      <!--Here goes the list of processed exercises-->
      <ul class="list-group" ng-repeat="job in all_jobs">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-2">
              <h4>Exercise name:  <span style="color:{{job.color}};font-weight: bold;">{{job.title}}</span></h4>
            </div>
            <div class="col-xs-2">
              <button ng-click="job.display(job.title)" ng-show="job.status=='ok'" class="btn btn-info">Show students taking exercise <span class="caret"></span></button>
            </div>
          </div>
          <table class="table" ng-show="job.students.length != 0">
            <thead>
              <tr>
                <th>Student</th>
                <th>Results</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="student in job.students">
                <td>
                  <p>Student <strong>{{student.id}}</strong>
                </td>
                <td>
                  <button class="btn btn-success" ng-click="get_data(job.title, student.id, 'annotated')">Annotated</button>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>

    </div>

  </div>
</div>

<!--NEW EXERCISE SECTION-->
<div ng-show="show_professor_new_exercise">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Create a new exercise</h3>
    </div>

    <div class="panel-body">
      <form class="col-xs-4">
        <div class="form-group">
          <label>Exercise Title</label>
          <input class="form-control" type="text" ng-model="exercise_title">
        </div>

        <div class="form-group">
          <label>Exercise Type</label>
          <select name="extypesel" ng-model="exercise_type">
              <option ng-repeat="ext in valid_exercise_types" value="{{ext}}">{{ext}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Model solution git repository</label>
          <div class="input-group">
            <input class="form-control" type="text" ng-model="exercise_model">
            <span class="input-group-addon">.git</span>
          </div>
        </div>


        <div class="form-group">
          <label>Student git repository</label>
          <div class="row" data-ng-repeat="entry in entries">
            <div class="col-xs-8">
              <div class="input-group">
                <input class="form-control" type="text" ng-model="entry.git">
                <span class="input-group-addon">.git</span>
              </div>
            </div>
            <div class="col-xs-4">
              <input class="form-control" type="text" ng-model="entry.uname">
            </div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-info" ng-click="add_new_student_field()">Add more students</button>
        </div>

        <br>
        <br>

        <div class="form-group col-xs-6">
          <button class="btn btn-danger btn-block" ng-click="cancel_new_exercise()">Cancel Submission</button>
        </div>

        <div class="form-group col-xs-6">
          <button class="btn btn-primary btn-block" ng-click="submit_new_exercise()">Submit Exercise</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!--   <div class="page-header"> -->
<!--     <h1>{{student_result.title}} <small>{{student_result.student}}</small></h1> -->
<!--   </div> -->


<!-- DISPLAY ANNOTATED FILE SECTION (NEW)-->
<div ng-show="show_annotated_file">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Annotated Results</h3>
      <button class="btn btn-default" ng-click="show_section('show_professor_exercises')">Back</button>
    </div><!-- /panel-heading -->
    
    <!--Student final mark, and editor-->
    <div class="panel panel-default">
      <div ng-hide="show_mark_editor" class="panel-body">
        <div class="col-xs-6">
          <h1>{{student_exercise_mark}}</h1>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-secondary" ng-click="edit_mark()">Edit Mark</button>
        </div>
      </div>
      
      <div ng-show="show_mark_editor" class="panel-body">
        <div class="col-xs-6">
          <form>
            <select name="newmark" ng-model="student_exercise_mark">
              <option value="A*">A*</option>
              <option value="A+">A+</option>
              <option value="A">A</option>
              <option value="B">B</option>
              <option value="C">C</option>
              <option value="D">D</option>
              <option value="E">E</option>
              <option value="F">F</option>
            </select>
          </form>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-primary" ng-click="submit_mark()">Submit</button>
        </div>
      </div>
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-xs-12">
          <div class="list-group">
            <div class="list-group-item">

              <!--Table of annotations-->
              <div ng-repeat="file in annotated_files">

                <hr>
                <div class="row">
                  <div class="col-xs-2">
                    <h2>{{file.filename}}</h2>
                  </div>
                  <div class="col-xs-4">
                    <button ng-click="file.display(file)" class="btn btn-info">
                      Show file annotations <span class="caret"></span>
                    </button>
                  </div>
                </div>
                <br>

                <table class="table table-sm borderless" ng-show="file.displayed">
                  <thead>
                    <tr>
                      <th>Line Number</th>
                      <th>Line Content</th>
                      <th>Annotation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="noBorder" ng-class="(data_entry.annotation === '') ? '' : 'danger'" ng-repeat="data_entry in file.data" ng-mouseenter="data_entry.show_icons=true" ng-mouseleave="data_entry.show_icons=false" height="75">
                      <td>
                        <p>{{data_entry.no}}</p>
                      </td>
                      <td>
                        <pre class="sourcecode">{{data_entry.content}}</pre>
                      </td>
                      <td>
                        <div class="row">
                          {{data_entry.annotation}}
                        </div>
                        <div class="row">

                          <button ng-show="data_entry.show_icons || data_entry.show_editor" class="btn btn-default" ng-click="add_feedback_annotation(file.filename,data_entry.no,data_entry.content,data_entry.annotation,data_entry)">
                            <img src="icon/edit.png"> Add / Edit an annotation
                          </button>

                          <button ng-show="data_entry.show_icons && data_entry.annotation !== '' && !data_entry.show_editor" class="btn btn-default" ng-click="delete_feedback_annotation(file.filename, data_entry.no, data_entry.annotation, data_entry)">
                            <img src="icon/delete.png"> Delete
                          </button>
                        </div>

                        <!--EDITOR-->
                        <div class="row" ng-show="data_entry.show_editor">

                          <br>

                          <!--Source code -->
                          <p><strong>Editor - Lines to be annotated</strong></p>
                          <div class="row">
                            <div class="col-xs-10">
                              <div class="panel panel-default pre-wrap-panel">
                                <p>{{editing_source_cache}}</p>
                              </div>
                            </div>
                          </div>

                          <br>
                          <!--Annotation -->
                          <p><strong>Edit the annotation comment below</strong></p>
                          <div class="row">
                            <div class="col-xs-10">
                              <textarea class="form-control" ng-model="data_entry.editing_annotation"></textarea>
                            </div>
                          </div>

                          <br>
                          <!--Annotation type-->
                          <p><strong>Select the type of this annotation</strong></p>
                          <div class="row">
                            <div class="col-xs-10">
                              <textarea class="form-control" ng-model="data_entry.editing_ann_type"></textarea>
                            </div>
                          </div>


                          <br>
                          <!--Buttons-->
                          <div class="row">
                            <div class="col-xs-4 col-xs-offset-1">
                              <button class="btn btn-danger btn-block" ng-click="feedback_clear()">Close editor</button>
                            </div>
                            <div class="col-xs-5">
                              <button class="btn btn-success btn-block" ng-click="submit_feedback_annotation()">Submit feedback</button>
                            </div>
                          </div>


                          <br>
                          <!--Submission confirmation-->
                          <div class="row" ng-show="successful_feedback">
                            <div class="col-xs-10">
                              <div class="alert alert-success">
                                <p>{{feedback_sent}}</p>
                              </div>
                            </div>

                          </div>

                        </div>
                        <!--End Editor-->

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /panel-body -->

  </div><!-- /panel -->


</div>
